*{box-sizing: border-box;}

ul{margin : 0;padding :0;}
a{text-decoration: none;color:black}
body{
    margin:0;
    padding : 0;
}

.wrapper{}
.wrapper>header{}
.wrapper>header>.top-header{}
.wrapper>header>nav{}


.wrapper>main{}
.wrapper>main>section{}

.wrapper>footer{}