/* content */

/* 데스크탑 */
.content_main {
    width: 600px;
    height: 780px;
    background-color: rgba(40, 47, 61, 0.95);
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 50px 80px;
    border-radius: 10px;
}

.content_email {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 10px;
}

.email_font {
    font-size: 28px;
    color: lightgray;
    margin-bottom: 20px;
    text-align: left;
    justify-content: space-between;
}

.content_main_checkbox {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 94px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
}

.content_main_checkbox>samp {
    color: lightgray;
    height: 96px;
    width: 300px;
    line-height: 96px;
    font-size: 24px;
}

.content_main_checkbox>input[type="checkbox"] {
    width: 50px;
    height: 50px;
    margin: 23px 17px 23px 23px;
}

.content_sub_checkbox {
    display: flex;
    width: 100%;
    height: 24px;
}

.content_sub_checkbox>input[type="checkbox"] {
    height: 24px;
    width: 24px;
    margin: 0 12px 0 0;
    padding: 0;
}

.content_main_checkbox>.icon {
    width: 50px;
    height: 50px;
    background-image: url(../css/이미지모음/logo.jpg);
    background-size: cover;
    margin: auto 30px;
}

.content_sub_checkbox>p {
    padding-bottom: 15px;
}

.content_next {
    background-color: rgb(140, 105, 153);
    width: 100%;
    max-width: 687px;
    height: 60px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    line-height: 10px;
}

.content_next:hover {
    background-color: rgb(152, 116, 164);
}

.content_margin32 {
    height: 32px;
    width: auto;
}

.content_margin40 {
    height: 40px;
    width: auto;
}

.content_margin53 {
    height: 53px;
    width: auto;
}

.font_80 {
    color: lightgray;
    text-align: center;
    font-size: 80px;
    margin: 0 0 40px 0;
    padding: 0;
    font-weight: 100;
}

.font_28 {
    color: lightgray;
    font-size: 28px;
    padding: 0;
}

.font_16 {
    color: lightgray;
    font-size: 16px;
    padding: 0;
    width: 100%;
}

.font_24 {
    color: lightgray;
    font-size: 24px;
    margin: 0;
    padding: 0;
}